.dropzone-container {
  border-style: dashed;
  height: inherit;
  padding: 0;

  .dropzone {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    > p {
      text-align: center;
      margin-bottom: 0;
    }

    > ul {
      margin-bottom: 0;
    }
  }
}
